[submodule "koruza_v2_driver"]
	path = koruza_v2_driver
	url = https://github.com/IRNAS/koruza-v2-driver
[submodule "koruza_v2_ui"]
	path = koruza_v2_ui
	url = https://github.com/IRNAS/koruza-v2-ui
[submodule "koruza_v2_d2d"]
	path = koruza_v2_d2d
	url = https://github.com/IRNAS/koruza-v2-device-management/
[submodule "koruza_v2_tracking"]
	path = koruza_v2_tracking
	url = https://github.com/IRNAS/koruza-v2-tracking
[submodule "koruza_v2_cloud"]
	path = koruza_v2_cloud
	url = https://github.com/IRNAS/koruza-v2-cloud.git
