[Unit]
Description="Koruza UI service"
After=multi-user.target

[Service]
WorkingDirectory=/home/pi
ExecStart=sudo gunicorn koruza_v2.koruza_v2_ui.index:server -b :80
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target