[Unit]
Description="Koruza Main service"
After=multi-user.target

[Service]
WorkingDirectory=/home/pi
ExecStart=python3 -m koruza_v2.koruza_v2_driver.koruza
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target